body {
    background-image: url("background.jpg");
    font-family: "Courgette";
}

.homepageimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}


  #mySearch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 25px;
  }
  
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    display: block
  }



  #more {
    display: none;
  }

  #myBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px; 
  }

  #myBtn {
    opacity: 1;
  }

  .checked {
    color: yellow;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0097FF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #0061FF;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  *.imagecontainer {
    margin: 0px;
    padding: 0px;
  }
  
  .imagecontainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-68.8%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .video1 {
    margin-left: 10%;
  }

  .video2 {
    margin-left: auto;
    margin-right: auto;
  }

  .video3 {
    margin-right: 4%;
  }

  .videotext {
    margin-bottom: 0;
  }

  .jointoday2 {
      float: right;
  }

.title {
    text-align: center;
}

.slogan {
    text-align: center;
}

/*Sign Up Modal*/
* {box-sizing: border-box}
input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.signup:hover {
    opacity: 1;
}

.signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;
    float: right;
}

.signupbtn:hover {
    opacity: 1;
}

.cancelbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;
    float: right;
}

.cancelbtn:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn .signupbtn {
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn .signupbtn {
        width: 100%;
    }
}
/*Login modal*/
input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


.login:hover {
    opacity: 1;
}

.loginbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;
    float: right;
}

.loginbtn:hover {
    opacity: 1;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

    .headerimg {
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3), 0 5px 21px 0 rgba(0,0,0,0.18);
  }

  .headerimg1 {
    margin-left: 10%;
  }

  .headerimg2 {
    margin-left: auto;
    margin-right: auto;
  }

  .headerimg3 {
    margin-right: 4%;
  }

  .footer {
    margin-top: 0vh;
    text-align: center;
}

.copyright {
    text-align: center;
}


 /*Top Banner / Header*/

 .logo {
  width: 185px;
  height: 175px;
}


 .headerFixed {
  position: sticky;
  background: #3d5a80;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.leftnavbox {
  background: #003459 ;
  float: left;
  width: 3%;
  min-height: 180px;
  vertical-align: middle;
}

.leftheaderbox {
  background: #003459 ;
  float: left;
  width: 27%;
  min-height: 180px;
}

.middleheaderbox {
  background: #003459  ;
  float: left;
  width: 40%;
  min-height: 180px;
}

.rightheaderbox {
  background: #003459 ;
  float: right;
  width: 30%;
  min-height: 180px;
}

.title {
  text-align: center;
  color:  #fedc97;
  
}

.slogan {
  text-align: center;
  color:  #fedc97;
}

.address {
  text-align: right;
  color:  #fedc97;
  font-weight: lighter;
  font-size:medium;
  border: "thick solid #084c61"
}

.login {
  background-color: #04AA6D;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  border-style:solid;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 15px;
  float: right;
  margin-right: 8px;
}

.signup {
  background-color: #04AA6D;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  border-style:solid;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 15px;
  float: right;
  margin-right: 8px;
}

 /*Ratings and image - this is a 3 column layout*/

 .headerbody {
   top: 0; 
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.fullwidth {
  float: left;
  width: 100%;
  height:auto 
}

.ratingsleft {
  float: left;
  width: 34%;
  margin-right: 1%;
  min-height: 600px;
  height:auto 
}

.ratingsmiddle {
  float: left;
  width: 30%;
  min-height: 600px;
  height:auto 
}

.ratingsmiddle img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display:block
}

.ratingsright {
  float: right;
  width: 34%;
  margin-left: 1%;
  min-height: 600px;
  height:auto 
}


/* Linear-gradient for Mission*/
  .lineargradmission {
/*         top: 0;  */
        left: 0;
        width: 80%;
        margin-top: 8%;
        margin-left:10%;
        margin-right: 10%;
        padding-left: 15px;
        min-height: 25vh;

          /* linear-gradient syntax */
          background-image: linear-gradient(135deg, white,  #fedc97, #04AA6D, #003459);
          border-radius: 25px;
      }

/* Linear-gradient for Services*/
  .lineargradservicesleft {
            left: 0;
            width: 35%;
            margin-top: 2%;
            margin-left:10%;
            margin-right: 5%;
            padding-left: 15px;
            min-height: 25vh;
            float: left;
            min-height: 180px;
              /* linear-gradient syntax */
            background-image: linear-gradient(135deg, white,  #fedc97, #04AA6D);
            border-radius: 25px;
          }
    
    .lineargradservicesright {
      left: 0;
      width: 35%;
      margin-top: 2%;
      margin-left:5%;
      margin-right: 10%;
      padding-left: 15px;
      float: right;
      min-height: 25vh;

        /* linear-gradient syntax */
        background-image: linear-gradient(135deg, white,  #fedc97, #04AA6D);
        border-radius: 25px;
          }   

/* The ratings styles below are no longer being used */
.ratings1 {
  margin-left: 75%;
  position: relative;
  font-size: 14px;
} 

.ratings2 {
  margin-right: 75%;
  position: relative;
  font-size: 14px;
}